@CHARSET "UTF-8";

html, body {
	background-color: #2B2922;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#page {
	width: 1023px;
	min-height: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	padding-top: 0px;
}

#banner-img {
	margin-left: -4px;
}

.img-margin-top {
	margin-top: -4px;
}

.img-margin-left {
	margin-left: -4px;
}

#nav {
	height: 40px;
}

#nav-filler {
	background-color: #49453A;
	height: 39px;
	width: 462px;
	float: right;
	border-top: 1px solid #A54C11;
}

#main-img {
	clear: both;
	float: left;
	background-color: #49453A;
	z-index: 1;
}

#main-info {
	width: 340px;
	height: 300px;
	float: right;
/*	border-top: 1px solid #49453A;*/
	border-left: 8px solid #49453A;
	border-bottom: 4px solid #49453A;
	background-color: #C4C2AB;
}

.video-img {
	margin-top: -6px;
}

.caption-text {
	font-family: arial;
	font-size: 12px;
	color: #736958;
	padding-left: 25px;
}

.inside-text {
	font-family: georgia;
	font-size: 12px;
	color: #E8E1CA;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 1.5;
}

.inside-small-text {
	font-family: georgia;
	font-size: 10px;
	color: #E8E1CA;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 1.5;
}

.inside-header {
	font-family: georgia;
	font-size: 21px;
	color: #E8E1CA;
	padding-top: 13px;
	padding-left: 25px;
	text-align: left;
}

.inside-red-text {
	font-family: georgia;
	font-size: 12px;
	color: #E8E1CA;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 1.5;
}

.small-text {
	font-family: arial;
	font-size: 10px;
	color: white;
}

.small-text a {
	font-family: arial;
	font-size: 10px;
	color: white;
}

.h1-header {
	font-family: georgia;
	font-size: 21px;
	color: #C4C2AB;
	padding-top: 13px;
	text-align: center;
}

.h1-text {
	/*font-family: georgia;*/
	font-size: 16px;
	color: #49453A;
	padding-left: 25px;
}

.h2-text {
	/*font-family: georgia;*/
	font-size: 14px;
	color: #49453A;
	padding-left: 25px;
}

.red-text {
	font-family: arial;
	font-size: 14px;
	color: #A54C11;
	padding-left: 25px;
	line-height: 1.8;
}

.red-text a {
	font-family: arial;
	font-size: 14px;
	color: #A54C11;
	line-height: 1.8;
	text-decoration: none;
}

.pad-top-large {
	padding-top: 20px;
}

.pad-left-large {
	padding-left: 40px;
}

.dotted-border {
	border-left: 1px dotted #49453A;
}

#second-block {
	clear: both;
	border-top: 4px solid #49453A;
}

#main-left {
	width: 676px;
	height: 275px;
	background-color: #E8E1CA;
	clear: both;
	float: left;
}

#main-right {
	width: 347px;
	height: 280px;
	background-color: #49453A;
	float: right;
}

#main-info-table {
	border-spacing: 5px;
}

#inside-left {
	width: 345px;
	height: 100%;
	background-color: #E8E1CA;
	clear: both;
	float: left;
	border-top: 4px solid #49453A;
}

#inside-right {
	width: 677px;
	height: 100%;
	background-color: #49453A;
	float: right;
	border-top: 4px solid #49453A;
}

#inside-full {
	width: 100%;
	height: 100%;
	background-color: #49453A;
	clear: both;
	float: left;
	border-top: 4px solid #49453A;
}

#inside-info-table {
	border-spacing: 5px;
}

#main-list {
	font-family: arial;
	font-size: 13px;
	list-style-type: disc;
	color: #8E8364;
	line-height: 1.9;
}

#discover-table {
	margin-top: -20px;
	margin-right: 20px;
	line-height: 1.2;
}

#footer {
	padding-top: 20px;
	clear: both;
}


.picture-div {
	padding-left: 25px;
	position: absolute;
	float: right;
}