/* Don't touch */
ul#jmenu
{
margin: 0px;
padding: 0px;
list-style: none;
}
ul#jmenu li
{
float: left;
margin: 0px;
padding: 0px;
//width: 1px; /* ie */
//vertical-align: bottom;  /* ie */
}
ul#jmenu li a
{
display: block;
white-space: nowrap;
}

ul#jmenu li ul
{
display: none;
position: absolute;
margin: 0px;
padding: 0px;
list-style: none;
zoom: 1;  /* ie */
}
ul#jmenu li ul li
{
float: none;
}

#service-menu {
	background-color: #49453A;
	font-family: georgia;
	font-size: 12px;
	color: #E8E1CA;
	list-style: none;
	z-index: 99;
}

#service-menu li, #service-menu li a {
	background-color: #49453A;
	font-family: georgia;
	font-size: 14px;
	color: #E8E1CA;
	padding: 6px;
	text-decoration: none;
}

#service-menu li a:hover {
	text-decoration: underline;
}