$font-size: 0.97;
$font-family-body: 'Oxygen', sans-serif;
$font-family-heading: 'Merriweather Sans', sans-serif;





/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*dl, dt, dd, ol, ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: $font-size *100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
/* ol, ul { 
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
} */
table {
  border-collapse: collapse;
  border-spacing: 0;
}



html{
}

body{
  background-color: #2b2922;
  font-family: $font-family-body;
  font-size: $font-size *0.9em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6{ color: #49453A; font-family: $font-family-heading;}

h5{
  font-weight: bold;
  font-size: $font-size *1.1em;
}

h4{
  font-weight: bold;
  color: #A54C11;
  font-size: $font-size *1.15em;
}

p{
  margin: 9px 0;
}

a:link{
  color: #E3E1CA;
  text-decoration: underline;
}

a:active{
  color: #E3E1CA;
  text-decoration: underline;
}

a:visited{
  color: #d0ceb9;
  text-decoration: underline;
}

a:hover{
  color: #FFF;
}

strong{font-weight: bold;}
em{font-style: italic;}

#frame{
  width: 1024px;
  margin: 0 auto 20px auto;
}

#header {
  background-color: #a54c11;
  #phone{
    float: right;
  }
}

#nav{
  background-color: #49453a;
  height: 42px;
  font-family: $font-family-heading;
  ul li{
    height: 40px;
    a{
      color: #e6e2c9;
      text-transform: uppercase;
      text-decoration: none;
      font-size: $font-size *1.13em;
      font-weight: light;
      letter-spacing: 0.14em; 
      margin: 10px 20px 0px 20px;
      font-family: $font-family-heading;
    }
    ul li a{
      color: #e6e2c9;
      text-transform: none;
      text-decoration: none;
      font-size: $font-size *0.95em;
      font-weight: light;
      letter-spacing: normal; 
      margin: 0;
      font-family: $font-family-heading;
    }
  }
}

#corpus{
  padding: 5px 0 0 0;
  background-color: #49453a;
  color: #e6e2c9;
}

#footer{
  clear: both;
  color: #e6e2c9;
  font-size: $font-size *0.85em;
  p{
    margin: 15px 0;
  }
  
  a:link, a:active, a:visited{
    color: #e6e2c9;
  }
}

.grBox{
  display: block;
  background-color: #c4c2ab;
  padding: 15px;
  color: #736958;
  p{
    padding: 5px;
    font-size: $font-size *0.85em;
    line-height: 1.1;
    margin: 0 ;
  }
  
}

.tanBox{
  background-color: #e8e1ca;
  padding: 10px;
  color: #736958;

  ul{
    margin: 10px 0;
    padding: 0;
    list-style: none;
    li{
      margin: 0 0 0 20px;
    }
  }
  a{
    color: #A54C11;
    text-decoration: none;
    font-size: $font-size *1em;
  }
}

.transBox{
  color: #E8E1CA;
  padding: 15px 15px 15px 35px;
  background-color: #49453a;
  font-weight: 100;
  ul{
    list-style: disc;
    padding-top: 10px;
    li{
      margin-bottom: 6px;
    }
  }
  h5{
    color: #E8E1CA;
    font-size: $font-size *1.6em; 
  }
  a:link, a:active, a:visited{
    color: #e8e1ca;
    text-decoration: underline;
  }
  a:hover{
    color: #fff;
  }
}

.bio{
  padding: 20px;
  color: #E3E1CA;
  h5{
    color: #E3E1CA;
    font-size: $font-size *1.2em;
    margin: 20px 0;
    font-size: $font-size *1.4em;
  }
  a{
    text-decoration: none;
  }
  p {
    clear: both;
    margin: 15px 0;
    &.name, &.title{
      clear: none;
      margin: 0;
      margin-left: 135px;
    }
    &.name{
      font-size: $font-size *1.3em;
      font-weight: bold;
      padding-top: 70px;
    }
    &.title{
      font-size: $font-size *1.2em;    }
  }
  ul{
    clear: both;
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
    li{
      margin: 4px 0;
    }
  }
}

.single{
  h5{
    font-size: $font-size *1.4em;
  }
  p {
    &.name, &.title{
      margin-left: 245px;
    }
    &.name{
      padding-top: 180px;
    }
    &.title{
      font-size: $font-size *1.2em;    }
  }
}

.webminar{
  margin: 0;
  padding: 0;
  dl{
    margin: 0;
    padding: 0;
  }
  dl dd{
    margin: 0 11px 0 0;
    padding: 0;
    float: left;
    width: 116px;
    height: 132px;
    label{
      display: block;
      height: 30px;
      padding: 7px 3px 3px 3px;
      background-color: #49453a; 
      color: #979481;
      font-size: $font-size *0.65em;
      text-align: center;
      text-transform: uppercase;
      /* box-shadow: 0px 5px 1px #555;
      position: relative;
      z-index: 100; */
      strong{
        display: block;
        color: #E3E1CA;
        font-size: $font-size *1.1em;      }
    }
    a:link, a:active, a:visited{
      display: block;
      height: 90px;
      background-color: #c4c2ab;
      background-image: url("../images/webminarSprite.jpg");
      background-position: 0 0;
      background-repeat: no-repeat;
      span{
        display: none;
      }
    }
    a:hover{
      background-position: 0 -90px;      
    }
  }
}

#serviceBox{
  width: 630px;
}

.fl{ float: left;}
.fr{ float: right;}

.shown{ display: block;}
.hidden{ display: none;}


#contactForm{
  width: 185px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin: 0 0 0 -93px;
  z-index: 10000;
  border: #49453A solid 5px;
  background-color: #e8e1ca;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #333;
  dl{
    margin: 0;
    padding: 0;
  }
  
  dl dd{
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    input{
      padding: 3px;
      width: 173px;
    }
  }
  
  dl dd label{
    color: #A54C11;
    font-weight: bold;
  }
}

#contactForm.newsLetter{
  .companyName{
    display: none;
  }
  .formMessage{
    display: none;
  }
}
#contactForm.webminarForm{ 
  .formMessage{
    display: none;
  }
}

.closeForm{
  display: block;
  position: relative;
  padding: 0 0 0 5px;
  margin: 0;
  width: 15px;
  height: 20px;
  background-color: #FFF;
  border: #000 solid 3px;
  border-radius: 30px;
  color: #000;
  font-weight: bold;
  bottom: 35px;
  left: 187px;
  cursor: pointer;
}

.closeForm:hover{
  background-color: #000;
  border: #000 solid 3px;
  color: #FFF;
}


.button{
  background-color: #A54C11;
  color: #fff;
  border-radius: 7px;
  border: #fff solid 2px;;
  font-weight: bold;
}

.button:hover{
  background-color: #FFF;
  color: #A54C11;
  border: #A54C11 solid 2px;;
}



.subheader{
    font-size: $font-size *1em;
}

.extender{clear: both;}

.editable{
  border: pink none 1px;
}

.orange{
      color: #A54C11;
}



